$background: #FFFFFF; //fundo da tela de atividades
$primary: #000000;
$fundo: #DAD7CD;
$secondary: #344E41;
$accent: #344E41;

$navbar: #A3B18A; //meu fundo da navbar

$text-primary: $background;
$text-background: $primary;
$font-primary: "Poppins";
$font-size: 16px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
body{
    background-color: $fundo;
}


